*{
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:none;
    margin:0%;
    text-align: center;
    background-image: linear-gradient(180deg,#E9967A,#B0E0E6,#B0E0E6,#E9967A)
    
}

.heading {
    text-align: center;
    background-image:linear-gradient(90deg,#E9967A,#B0E0E6,#E9967A);
    font-size:250%;
    color: #E9967A;
    text-shadow: 2px 1px dimgray;
}

.container{
    display:block;
    padding-bottom: 5rem;
    color: #57534E;
    }

.description{
    display: block;
    text-align: center;
    font-size:x-large;
}

.input {
    display: block;
    padding: .5rem;
    border-radius: .5rem;
    width: 15rem;
    border: solid goldenrod;
    margin: auto;
}

.input-label{
    font-size: 140%;

}


.change-table{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
    

}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    min-width: 5rem;
    border: 2px solid black;
    margin: auto;
    height:8vh;
}

td {
    display:table-cell;
    border: 2px solid black;
    margin: auto;
    width: 5rem;
    padding: 1rem;
}

th{
    text-align: center;
    font-size: 110%;
}

#check-button {
    border: solid blue;
    width: 5rem;
    height: 4vh;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(150deg,blue,skyblue,blue,skyblue,blue)
}

#check-button:hover {
    box-shadow:0 0px 12px  dimgray;

}

caption{
    font-size: x-large;
    padding: 1.5rem;
}

.no-of-notes{
    font-weight: bold;
    
}

footer p {
    color: red;
    font-size: large;
}


.list-item-inline{
    padding: 1rem;
    display: inline;
}

footer{
    
    text-align: center;
    bottom: 0%;
    left: 0%;
    right:0%;
    
}