*{
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:thistle;
    margin:0%;
    text-align: center;
}

.heading {
    text-align: center;
    color:chocolate;
    font-size:250%;
    border-bottom: outset;
    border-top: outset;
}

.container{
    display:block;
    padding-bottom: 5rem;
    }

.description{
    display: block;
    text-align: center;
    font-size:x-large;
}

.input {
    border-style:groove;
    border-width: 2px;
    width: 15rem;
    height: 5vh;
    
}

.input-label{
    font-size: 140%;

}


.change-table{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
    

}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    min-width: 5rem;
    border: 2px solid black;
    margin: auto;
    height:8vh;
}

td {
    display:table-cell;
    border: 2px solid black;
    margin: auto;
    width: 5rem;
    padding: 1rem;
}

th{
    text-align: center;
    font-size: 110%;
}

#check-button {
    width: 5rem;
    height: 4vh;
}

caption{
    font-size: x-large;
    padding: 1.5rem;
}

footer p {
    padding-top:;
    color: red;
    font-size: large;
}


.list-item-inline{
    padding: 1rem;
    display: inline;
}

footer{
    border-top: inset;
    border-color:chocolate;
    padding-top:2rem;
    background-color:burlywood;
    padding-bottom: 1rem;
}